In [3]:
import Models.JournalModel as JM
ej = JM.Journal('Economic Journal', "ej", "Data/Economic_Journal")
articles = [
    {'doi': "https://doi.org/10.1111/ecoj.12278",  # (0) variable rowheights in body
     'table': 4 },
    {'doi': "https://doi.org/10.1111/ecoj.12550",  # (1) misshift table head
     'table': 4 },
    {'doi': "",  # (2)
     'table': None  },
    {'doi': "",  # (3)
     'table': None }
]
d = articles[1]
a = ej.find_article_by_doi(d['doi'])
t = a.table(d['table'])  # select table 4
t._df_raw

,Income percentile,(1),(2),(3),(4),(5),(6),(7),(8),(9)
,Income percentile,Income heterogeneity,Income heterogeneity,Income heterogeneity,Income heterogeneity,Income heterogeneity,Homeownership,Homeownership,Homeownership,Homeownership
,>50,>75,>80,>85,>90,>75 & homeowner,>75 & renter,>90 & homeowner,>90 & renter,Unnamed: 9_level_2
0,▵atr,0.468**,0.826***,0.963***,1.112***,1.236***,0.682***,1.225***,1.047***,1.271***
1,NaN,(0.191),(0.278),(0.273),(0.299),(0.310),(0.244),(0.371),(0.279),(0.297)
2,▵atr × R,−0.561*,−1.006**,−1.032**,−1.383***,−2.071***,−0.834**,−0.415,−1.808***,−3.024*
3,NaN,(0.313),(0.434),(0.437),(0.503),(0.542),(0.392),(1.002),(0.473),(1.740)
4,mtr,0.087**,0.121*,0.131**,0.108**,0.052,0.120**,0.028,0.069**,−0.082
5,NaN,(0.043),(0.067),(0.060),(0.048),(0.045),(0.060),(0.126),(0.031),(0.112)
6,mtr × R,−0.030,−0.104,−0.120*,−0.106,−0.079,−0.101,−0.107,−0.086*,−0.014
7,NaN,(0.044),(0.069),(0.068),(0.070),(0.051),(0.067),(0.147),(0.046),(0.171)
8,Number of observations,470439,230980,184062,136786,90527,208634,22346,83813,6714
9,R2,0.230,0.254,0.261,0.267,0.277,0.264,0.256,0.289,0.294

In [4]:
t.df

,Income percentile,(1),(2),(3),(4),(5),(6),(7),(8),(9)
,Income percentile,Income heterogeneity,Income heterogeneity,Income heterogeneity,Income heterogeneity,Income heterogeneity,Homeownership,Homeownership,Homeownership,Homeownership
,Unnamed: 0_level_2,>50,>75,>80,>85,>90,>75 & homeowner,>75 & renter,>90 & homeowner,>90 & renter
0,▵atr,0.468**,0.826***,0.963***,1.112***,1.236***,0.682***,1.225***,1.047***,1.271***
1,NaN,(0.191),(0.278),(0.273),(0.299),(0.310),(0.244),(0.371),(0.279),(0.297)
2,▵atr × R,−0.561*,−1.006**,−1.032**,−1.383***,−2.071***,−0.834**,−0.415,−1.808***,−3.024*
3,NaN,(0.313),(0.434),(0.437),(0.503),(0.542),(0.392),(1.002),(0.473),(1.740)
4,mtr,0.087**,0.121*,0.131**,0.108**,0.052,0.120**,0.028,0.069**,−0.082
5,NaN,(0.043),(0.067),(0.060),(0.048),(0.045),(0.060),(0.126),(0.031),(0.112)
6,mtr × R,−0.030,−0.104,−0.120*,−0.106,−0.079,−0.101,−0.107,−0.086*,−0.014
7,NaN,(0.044),(0.069),(0.068),(0.070),(0.051),(0.067),(0.147),(0.046),(0.171)
8,Number of observations,470439,230980,184062,136786,90527,208634,22346,83813,6714
9,R2,0.230,0.254,0.261,0.267,0.277,0.264,0.256,0.289,0.294