# Economic Journal Algorithm
Algorithm notes:

- I want to do list_articles, then for a in articles

--> give "list" and "df" option to all methods listing objects

- in the .list_headings("list") we shall return the headings expanded, while the selection of a heading/subheading runs on a non-expanded headings list
- note we should add a parent attribute to the nested headings

- Long term goal, extract all ej specific functions and put in separate file, so that we know which functions need to be rewritten for future journals

In [7]:
import Models.JournalModel as JM
import pandas as pd
import numpy as np
import re, os, sys

ej = JM.Journal('Economic Journal', "ej", "Data/Economic_Journal")

In [8]:
ej.find_article_by_doi("https://doi.org/10.1111/ecoj.12509").table(6)._df_raw
#ej.find_article_by_doi("https://doi.org/10.1111/ecoj.12509").heading(6).list_tables()

     Unnamed: 0_level_0            (1)            (2)      (3)      (4)
     Unnamed: 0_level_1 Permanent work Permanent work Any work Any work
0                Pooled          0.043            NaN   0.067*      NaN
1               (0.027)            NaN        (0.034)      NaN      NaN
2                 Board            NaN        0.078**      NaN    0.046
3                   NaN        (0.037)            NaN  (0.051)      NaN
4                  City            NaN        −0.0043      NaN  0.088**
5                   NaN        (0.034)            NaN  (0.041)      NaN
6          Observations            657            657      658      658
7                    R2          0.215          0.221    0.578    0.581
8   Pooled control mean           0.13            NaN     0.53      NaN
9    Board control mean            NaN           0.19      NaN     0.58
10    City control mean            NaN          0.065      NaN     0.46

In [9]:
ej.find_article_by_doi("https://doi.org/10.1111/ecoj.12509").table(6).df

     Unnamed: 0_level_0            (1)            (2)      (3)      (4)
     Unnamed: 0_level_1 Permanent work Permanent work Any work Any work
0                Pooled          0.043            NaN   0.067*      NaN
1                   NaN        (0.027)            NaN  (0.034)      NaN
2                 Board            NaN        0.078**      NaN    0.046
3                   NaN            NaN        (0.037)      NaN  (0.051)
4                  City            NaN        −0.0043      NaN  0.088**
5                   NaN            NaN        (0.034)      NaN  (0.041)
6          Observations            657            657      658      658
7                    R2          0.215          0.221    0.578    0.581
8   Pooled control mean           0.13            NaN     0.53      NaN
9    Board control mean            NaN           0.19      NaN     0.58
10    City control mean            NaN          0.065      NaN     0.46

In [10]:
ej.year(2008).issue(529).article(3).author_count

1

In [11]:
#ej.year(2008).issue(529).article(3)
ej.volume(127).issue(602).article(9).list_headings()
#ej.volume(127).issue(602).article(9).heading(1).soup.text
#ej.volume(127).issue(602).article(9).heading(2).soup.text

               heading_name
h1
1              Introduction
2   1 Institutional Setting
3             2 Methodology
4                    3 Data
5                 4 Results
6              5 Conclusion
7                     Notes
8                References
9              Author notes
10       Supplementary data

In [12]:
#ej.volume(119).issue(536).article(2).list_headings()

# a = ej.year(2010).issue(545).list_articles() # is Hanukkah Responsive to Christmas?
#a = ej.find_article_by_doi("https://doi.org/10.1111/j.1468-0297.2012.02544.x")  # subheadings, no good tables
#a = ej.volume(113).issue(484).article(1)
# a = ej.find_article_by_doi("https://doi.org/10.1111/ecoj.12534")
# headings = a.list_headings("list")
# a.list_headings("df")

In [13]:
#ej.volume(113).issue(484).article(1).list_headings()

In [14]:
# all_tables = []
# for h in headings:
#     all_tables = all_tables + h.list_tables()

In [15]:

#a.heading(3).list_tables()
#for t in a.list_tables():
#    print(t)
# a.list_tables()

In [16]:
# import Sonja's evaluation rounds
# doi_rounds_df = pd.read_excel("Spreadsheets/sonja_evaluation_rounds.xlsx")
#
# rounds = doi_rounds_df['evaluation round'].unique()
#
# dois = []
# for round in rounds[0:1]:
#     dois = doi_rounds_df.loc[doi_rounds_df['evaluation round'] == round, 'article'].unique()
#
# for doi in dois:
#     a = ej.find_article_by_doi(doi)
#     print(a.title)
#     print(a.doi)
#     print(a.list_headings())